<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0"> 
  <dict> 
    <key>frames</key>  
    <dict> 
      <key>TowerChair1Piece2_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{0,0},{26,3}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{26,3}}</string>  
        <key>sourceSize</key>  
        <string>{26,3}</string> 
      </dict>  
      <key>TowerTorchPiece1_Sprite_1.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{27,0},{16,7}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{16,7}}</string>  
        <key>sourceSize</key>  
        <string>{16,7}</string> 
      </dict>  
      <key>TowerTable2Piece2_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{44,0},{24,5}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{24,5}}</string>  
        <key>sourceSize</key>  
        <string>{24,5}</string> 
      </dict>  
      <key>TowerCorner_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{69,0},{8,16}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{8,16}}</string>  
        <key>sourceSize</key>  
        <string>{8,16}</string> 
      </dict>  
      <key>TowerTorchPiece3_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{78,0},{16,8}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{16,8}}</string>  
        <key>sourceSize</key>  
        <string>{16,8}</string> 
      </dict>  
      <key>TowerChair2Piece2_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{95,0},{14,10}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{14,10}}</string>  
        <key>sourceSize</key>  
        <string>{14,10}</string> 
      </dict>  
      <key>TowerBust2Piece1_Sprite_1.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{110,0},{14,12}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{14,12}}</string>  
        <key>sourceSize</key>  
        <string>{14,12}</string> 
      </dict>  
      <key>TowerTorchPiece2_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{125,0},{10,17}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{10,17}}</string>  
        <key>sourceSize</key>  
        <string>{10,17}</string> 
      </dict>  
      <key>TowerTable2Piece3_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{136,0},{24,8}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{24,8}}</string>  
        <key>sourceSize</key>  
        <string>{24,8}</string> 
      </dict>  
      <key>TowerBust2Piece2_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{161,0},{11,19}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{11,19}}</string>  
        <key>sourceSize</key>  
        <string>{11,19}</string> 
      </dict>  
      <key>TowerChair1Piece1_Sprite_1.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{173,0},{13,17}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{13,17}}</string>  
        <key>sourceSize</key>  
        <string>{13,17}</string> 
      </dict>  
      <key>TowerCornerL_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{187,0},{15,15}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{15,15}}</string>  
        <key>sourceSize</key>  
        <string>{15,15}</string> 
      </dict>  
      <key>TowerTable2Piece1_Sprite_1.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{203,0},{22,11}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{22,11}}</string>  
        <key>sourceSize</key>  
        <string>{22,11}</string> 
      </dict>  
      <key>TowerBust1Piece1_Sprite_1.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{226,0},{18,16}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{18,16}}</string>  
        <key>sourceSize</key>  
        <string>{18,16}</string> 
      </dict>  
      <key>TowerTable1Piece1_Sprite_1.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{245,0},{18,19}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{18,19}}</string>  
        <key>sourceSize</key>  
        <string>{18,19}</string> 
      </dict>  
      <key>TowerChair2Piece3_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{264,0},{14,26}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{14,26}}</string>  
        <key>sourceSize</key>  
        <string>{14,26}</string> 
      </dict>  
      <key>TowerBust2Piece3_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{279,0},{21,18}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{21,18}}</string>  
        <key>sourceSize</key>  
        <string>{21,18}</string> 
      </dict>  
      <key>TowerPedestal2Piece2_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{301,0},{19,21}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{19,21}}</string>  
        <key>sourceSize</key>  
        <string>{19,21}</string> 
      </dict>  
      <key>TowerBust1Piece3_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{321,0},{22,19}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{22,19}}</string>  
        <key>sourceSize</key>  
        <string>{22,19}</string> 
      </dict>  
      <key>TowerChair2Piece1_Sprite_1.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{344,0},{19,23}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{19,23}}</string>  
        <key>sourceSize</key>  
        <string>{19,23}</string> 
      </dict>  
      <key>TowerTorchPiece1_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{364,0},{16,32}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{16,32}}</string>  
        <key>sourceSize</key>  
        <string>{16,32}</string> 
      </dict>  
      <key>TowerPedestal2Piece1_Sprite_1.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{381,0},{24,22}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{24,22}}</string>  
        <key>sourceSize</key>  
        <string>{24,22}</string> 
      </dict>  
      <key>TowerBust1Piece2_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{406,0},{30,20}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{30,20}}</string>  
        <key>sourceSize</key>  
        <string>{30,20}</string> 
      </dict>  
      <key>TowerChair1Piece1_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{437,0},{39,17}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{39,17}}</string>  
        <key>sourceSize</key>  
        <string>{39,17}</string> 
      </dict>  
      <key>TowerTable1Piece2_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{0,8},{36,19}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{36,19}}</string>  
        <key>sourceSize</key>  
        <string>{36,19}</string> 
      </dict>  
      <key>TowerTable2Piece1_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{37,17},{38,19}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{38,19}}</string>  
        <key>sourceSize</key>  
        <string>{38,19}</string> 
      </dict>  
      <key>TowerBust2Piece1_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{76,17},{30,25}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{30,25}}</string>  
        <key>sourceSize</key>  
        <string>{30,25}</string> 
      </dict>  
      <key>TowerPedestal1_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{107,18},{24,32}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{24,32}}</string>  
        <key>sourceSize</key>  
        <string>{24,32}</string> 
      </dict>  
      <key>TowerPedestal2Piece1_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{132,18},{24,32}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{24,32}}</string>  
        <key>sourceSize</key>  
        <string>{24,32}</string> 
      </dict>  
      <key>TowerTable1Piece1_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{157,20},{48,19}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{48,19}}</string>  
        <key>sourceSize</key>  
        <string>{48,19}</string> 
      </dict>  
      <key>TowerChair2Piece1_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{206,17},{28,39}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{28,39}}</string>  
        <key>sourceSize</key>  
        <string>{28,39}</string> 
      </dict>  
      <key>TowerBust1Piece1_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{235,27},{30,45}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{30,45}}</string>  
        <key>sourceSize</key>  
        <string>{30,45}</string> 
      </dict>  
      <key>TowerLever2_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{266,27},{43,43}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{43,43}}</string>  
        <key>sourceSize</key>  
        <string>{43,43}</string> 
      </dict>  
      <key>TowerBorder2_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{310,33},{128,16}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{128,16}}</string>  
        <key>sourceSize</key>  
        <string>{128,16}</string> 
      </dict>  
      <key>TowerHole5_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{439,18},{58,40}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{58,40}}</string>  
        <key>sourceSize</key>  
        <string>{58,40}</string> 
      </dict>  
      <key>TowerLever1_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{0,37},{58,56}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{58,56}}</string>  
        <key>sourceSize</key>  
        <string>{58,56}</string> 
      </dict>  
      <key>BrokenBookcase1_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{59,51},{58,77}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{58,77}}</string>  
        <key>sourceSize</key>  
        <string>{58,77}</string> 
      </dict>  
      <key>BrokenBookcase2_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{118,51},{58,77}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{58,77}}</string>  
        <key>sourceSize</key>  
        <string>{58,77}</string> 
      </dict>  
      <key>TowerHole8_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{177,73},{91,50}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{91,50}}</string>  
        <key>sourceSize</key>  
        <string>{91,50}</string> 
      </dict>  
      <key>TowerHole3_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{269,71},{82,60}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{82,60}}</string>  
        <key>sourceSize</key>  
        <string>{82,60}</string> 
      </dict>  
      <key>TowerHole2_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{352,50},{60,102}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{60,102}}</string>  
        <key>sourceSize</key>  
        <string>{60,102}</string> 
      </dict>  
      <key>TowerHole7_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{0,129},{115,58}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{115,58}}</string>  
        <key>sourceSize</key>  
        <string>{115,58}</string> 
      </dict>  
      <key>TowerDoor_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{116,129},{100,96}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{100,96}}</string>  
        <key>sourceSize</key>  
        <string>{100,96}</string> 
      </dict>  
      <key>TowerDoorOpen_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{217,132},{100,96}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{100,96}}</string>  
        <key>sourceSize</key>  
        <string>{100,96}</string> 
      </dict>  
      <key>TowerHole4_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{318,153},{103,107}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{103,107}}</string>  
        <key>sourceSize</key>  
        <string>{103,107}</string> 
      </dict>  
      <key>TowerHole9_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{0,188},{107,116}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{107,116}}</string>  
        <key>sourceSize</key>  
        <string>{107,116}</string> 
      </dict>  
      <key>TowerHole6_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{108,229},{113,117}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{113,117}}</string>  
        <key>sourceSize</key>  
        <string>{113,117}</string> 
      </dict>  
      <key>TowerHole1_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{222,261},{118,121}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{118,121}}</string>  
        <key>sourceSize</key>  
        <string>{118,121}</string> 
      </dict>  
      <key>TowerFG2_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{341,261},{126,126}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{126,126}}</string>  
        <key>sourceSize</key>  
        <string>{126,126}</string> 
      </dict>  
      <key>TowerBG2_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{0,347},{126,126}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{126,126}}</string>  
        <key>sourceSize</key>  
        <string>{126,126}</string> 
      </dict>  
      <key>TowerBGFrame_Sprite_0.png</key>  
      <dict> 
        <key>frame</key>  
        <string>{{127,383},{128,128}}</string>  
        <key>offset</key>  
        <string>{0,0}</string>  
        <key>rotated</key>  
        <false/>  
        <key>sourceColorRect</key>  
        <string>{{0,0},{128,128}}</string>  
        <key>sourceSize</key>  
        <string>{128,128}</string> 
      </dict> 
    </dict> 
	<key>metadata</key>
	<dict> 
      <key>format</key>  
      <integer>2</integer>  
      <key>realTextureFileName</key>  
      <string>playerSpritesheet.png</string>  
	  <key>size</key>
      <string>{1024,512}</string>
      <key>smartupdate</key>  
      <string>$TexturePacker:SmartUpdate:c77a5bdd874c02a4c3ac27cc6669b426:1/1$</string>  
      <key>textureFileName</key>  
      <string>playerSpritesheet.png</string> 
    </dict> 
  </dict> 
</plist>
